/*MENU HTML*/
body{

    background-image: url(image.jpg);
}
nav{
    margin: 0;    
}

nav ul {
background-color: black;
color:white;
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 20px;
}

nav li{
    text-decoration: none;
    list-style-type: none;
    
}
.boutonprincipal{
    font-size: 35px;
}
.menu{
    display: inline-block;
    position: relative;
}
.onglethtmlenfant{
    display: none;
    background-color: rgb(231, 121, 31);
    text-decoration: none;
    font-size: 25px;
}

.onglethtmlenfant a {
    color:white;
    text-decoration: none;
}

.menu:hover .onglethtmlenfant{
    display:block; 
}



/*MENU CSS*/

.boutonprincipalcss{
    font-size: 35px;
}

.menucss{
    display: inline-block;
    position: relative;
}

.onglethtmlenfantcss{
    display: none;
    background-color: rgb(99, 99, 235);
    font-size: 25px;
    text-decoration: none;
}

.menucss:hover .onglethtmlenfantcss{
    display: block;
}

.onglethtmlenfantcss a {
    color: white;
    text-decoration: none;
}


/*MENU JAVASCRIPT*/

.menujava{
    display: inline-block;
    position: relative;
}

.boutonprincipaljava{
    font-size: 35px;
}

.ongletenfantjava{
    display: none;
    background-color: rgb(221, 210, 52);
    font-size: 25px;
}

.menujava:hover .ongletenfantjava{
    display: block;
}

.ongletenfantjava a {
    color:white;
    text-decoration: none;
}